@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,500,700,900');

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #f3f3f3;
    color: #a5a5a5;
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.85;
    font-weight: 400;
    color: #76777a;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a {
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 1px #ffa07f;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

p:last-of-type {
    margin-bottom: 0;
}

a,
a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a:active {
    position: relative;
    color: #FF6347;
}

p a:hover {
    color: #FFFFFF;
    background: #ffa07f;
}

p a:hover::after {
    opacity: 0.2;
}

::selection {}

p::selection {}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.header.scrolled {
    top: -40px;
}

/*********************************
3.1 Top Bar
*********************************/

.top_bar {
    width: 100%;
    background: #14bdee;
}

.header.scrolled .top_bar {}

.top_bar_container {
    width: 100%;
    height: 100%;
}

.top_bar_content {
    width: 100%;
    height: 40px;
}

.top_bar_contact_list li {
    display: inline-block;
}

.question {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 0px;
}

.top_bar_contact_list li i,
.top_bar_contact_list li>div {
    display: inline-block;
    font-size: 14px;
    color: #FFFFFF;
}

.top_bar_contact_list li>div {
    margin-left: 1px;
}

.top_bar_contact_list li:not(:last-child) {
    margin-right: 21px;
}

.top_bar_login {
    height: 100%;
}

.btn-blue {
    color: #fff;
    background-color: #14bdee;
    border-color: #14bdee;
}

.logo_text {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 0.75;
    color: #384158;
    vertical-align: middle;
    margin-left: 7px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

/*********************************
14. Footer
*********************************/

.footer {
    display: block;
    position: relative;
    width: 100%;
    background: #1e2434;
    padding-top: 94px;
}

.footer_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.footer_content {
    padding-bottom: 53px;
}

.footer_logo_text {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 0.75;
    color: #FFFFFF;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.footer_logo_text span {
    color: #14bdee;
}

.footer_title {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 0.75;
}

.footer_logo_container {
    margin-top: -14px;
}

.footer_about_text {
    margin-top: 31px;
}

.footer_about_text p {
    color: #FFFFFF;
}

.footer_social {
    margin-top: 23px;
}

.footer_social ul li {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #4b505d;
    border-radius: 50%;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.footer_social ul li:not(:last-child) {
    margin-right: 6px;
}

.footer_social ul li a {
    display: block;
    position: relative;
    text-align: center;
}

.footer_social ul li a i {
    color: #FFFFFF;
    line-height: 45px;
}

.footer_social ul li:hover {
    background: #14bdee;
}

.footer_contact {
    padding-left: 36px;
}

.footer_contact_info {
    margin-top: 33px;
}

.footer_contact_info ul li {
    font-size: 14px;
    font-weight: 400;
    color: #b5b8be;
}

.footer_contact_info ul li:not(:last-child) {
    margin-bottom: 15px;
}

.footer_links {
    padding-left: 80px;
}

.footer_links_container ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.footer_links_container {
    margin-top: 33px;
}

.footer_links_container ul li a {
    font-size: 14px;
    color: #b5b8be;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.footer_links_container ul li:not(:last-child) {
    margin-bottom: 15px;
}

.footer_links_container ul li a:hover {
    color: #14bdee;
}

.footer_mobile {
    display: inline-block;
    float: right;
}

.footer_mobile_content {
    padding-top: 35px;
}

.footer_image:not(:last-child) {
    margin-bottom: 10px;
}

.copyright {
    height: 54px;
    border-top: solid 1px #353a49;
}

.cr_list li {
    display: inline-block;
}

.copyright div {
    font-size: 14px;
    color: #b5b8be;
}

.cr_text a {
    color: #FFFFFF;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.cr_text a:hover {
    color: #14bdee;
}

.cr_list li:not(:last-child) {
    margin-right: 50px;
}

.cr_list li a {
    font-size: 14px;
    color: #b5b8be;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.cr_list li a:hover {
    color: #14bdee;
}

@charset "utf-8";

@media only screen and (max-width: 1600px) {}


@media only screen and (max-width: 1440px) {}

@media only screen and (max-width: 1380px) {}

@media only screen and (max-width: 1280px) {}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 1100px) {}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 991px) {

    .top_bar_contact_list li i,
    .top_bar_contact_list li>div,
    .login_button a {
        font-size: 12px;
    }

    .login_button {
        width: 140px;
    }

    .footer_col:not(:last-child) {
        margin-bottom: 60px;
    }

    .footer_contact,
    .footer_links {
        padding-left: 0;
    }

    .footer_links ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

    .footer_mobile {
        float: none;
    }

    .footer_logo_container {
        margin-top: 0;
    }

    .copyright {
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .cr_list {
        margin-top: 30px;
    }

    .cr_list li:not(:last-child) {
        margin-right: 20px;
    }

    .copyright div,
    .cr_list li a {
        font-size: 13px;
    }
}

@media only screen and (max-width: 959px) {}

@media only screen and (max-width: 880px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 767px) {
    .top_bar_content {
        display: none;
    }
}

@media only screen and (max-width: 575px) {
    h2 {
        font-size: 24px;
    }

    p {
        font-size: 13px;
    }
}

@media only screen and (max-width: 539px) {}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 479px) {}

@media only screen and (max-width: 400px) {}